body {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

/* Grass */
.land {
    position: relative;
    height: 150px;
    bottom: 0px;
    background-image: linear-gradient(to bottom right, lightyellow, teal);
    z-index: 10;
}

/* Cloud build */
.clouds {
    margin-top: 0px;
    margin-bottom: -10px;
    padding: 225px 0 0 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

.cloud {
    width: 200px; height: 60px;
	background: #fff;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
    width: 100px; 
    height: 80px;
	position: absolute; top: -15px; left: 10px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Cloud animation*/
.x1 {
	-webkit-animation: moveclouds 30s linear infinite;
	-moz-animation: moveclouds 30s linear infinite;
	-o-animation: moveclouds 30s linear infinite;
}

.x2 {
    z-index: 15;
	left: 200px;
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	transform: scale(2);
	opacity: 1; /*opacity proportional to the size*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px; top: -200px;
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
	opacity: 0.65; /*opacity proportional to the size*/	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 470px; top: -250px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	opacity: 1; /*opacity proportional to the size*/
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x5 {
	left: -150px; top: -150px;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	transform: scale(1.5);
	opacity: 0.6; /*opacity proportional to the size*/
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}

/* Balloon animation */
.balloon {
    width: 200px;
    height: 200px;
    background-color: #F74949;
    border-radius: 50%;
    border: 4px solid #D7E7EA;
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translate(-50%);
    animation: moving-balloon 3s ease infinite;
    z-index: 20;
}
/* a.ballon:hover {
    background-color: rgb(241, 121, 121);
} */
.balloon::after {
    content: "";
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%);
    border-top: 60px solid #F74949;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 155px;
    z-index: 20;
}
.balloon::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 205px;
    transform: translate(-50%);
    width: 100px;
    height: 25px;
    background-color: rgb(212, 63, 63);
    border-radius: 5px;
    z-index: 20;
}
  
.basket {
    width: 45px;
    height: 30px;
    background: rgb(233, 215, 184);
    border-radius: 0 0 3px 3px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 415px;
    animation: moving-basket 3s ease infinite;
    z-index: 20;
}
.basket:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 12px;
    background: rgb(216, 195, 157);
    border-radius: 3px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 20;
}
.basket:after {
    content: "";
    width: 55px;
    height: 35px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%) perspective(50px) rotateX(-40deg);
    border-left: 2px solid rgb(216, 195, 157);
    border-right: 2px solid rgb(216, 195, 157);
    z-index: 20;
} 

@keyframes moving-balloon {
	0% 	 {transform:  translate(-50%)}
	50% {transform: translate(-50%, -10%)}
}

@keyframes moving-basket {
	0% 	 {transform:  translate(-50%)}
	50% {transform: translate(-50%, -40%)}
}

/* Mountains */
.mountains {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
    bottom: 0;
}
.mountain {
    position: relative;
    width: 0;
    height: 0;
}
#mountain1 {
    border-left: 120px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 200px solid rgba(219, 224, 233, 0.65);
    bottom: -375px;
    left: -30px;
    z-index: 1;
}
#mountain2 {
    border-left: 270px solid transparent;
    border-right: 350px solid transparent;
    border-bottom: 400px solid #BEC4CE;
    bottom: -250px;
    left: -250px;
    z-index: 5;
}
#mountain3 {
    border-left: 525px solid transparent;
    border-right: 325px solid transparent;
    border-bottom: 550px solid #878B93;
    bottom: -100px;
    right: 375px;
    z-index: 10;
}
#mountain4 {
    border-left: 450px solid transparent;
    border-right: 350px solid transparent;
    border-bottom: 400px solid rgba(219, 224, 233, 0.65);
    bottom: -290px;
    left: -950px;
    z-index: 1;
}
#mountain5 {
    border-left: 500px solid transparent;
    border-right: 450px solid transparent;
    border-bottom: 500px solid #BEC4CE;
    bottom: -375px;
    left: -1650px;
    z-index: 5;
}
#mountain6 {
    border-left: 180px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 200px solid rgba(219, 224, 233, 0.65);
    bottom: -425px;
    left: -2120px;
    z-index: 1;
}